@model SzyfyBezpieczenstwoSysKomp.Models.CezarModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Szyfr Cezara";
}

<h2>Szyfr Cezara</h2>

<div class="container">
    <div class="content-box">
        <form method="post">
            <div class="form-group mb-3">
                <label for="TekstPrzedSzyfrowaniem" class="fw-bold">Tekst do szyfrowania:</label>
                <input type="text" asp-for="TekstPrzedSzyfrowaniem" class="form-control" required />
                <span asp-validation-for="TekstPrzedSzyfrowaniem" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="Przesuniecie" class="fw-bold">Przesunięcie:</label>
                <input type="number" asp-for="Przesuniecie" class="form-control" required />
                <span asp-validation-for="Przesuniecie" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="fw-bold">Wybierz operację:</label><br />
                <input type="radio" id="Szyfrowanie" name="operacja" value="Szyfrowanie" checked />
                <label for="Szyfrowanie">Szyfrowanie</label>
                <input type="radio" id="Odszyfrowanie" name="operacja" value="Odszyfrowanie" />
                <label for="Odszyfrowanie">Odszyfrowanie</label>
            </div>
            <button type="submit" class="btn btn-custom">Wykonaj</button>
        </form>

        @if (!string.IsNullOrEmpty(Model?.TekstZaszyfrowany))
        {
        <div class="mt-4">
            <h4 class="fw-bold text-success">Wynik operacji:</h4>
            <p class="text-success">@Model.TekstZaszyfrowany</p>
        </div>
        }
    </div>

    <div class="content-box">
        <h3>Raport</h3>
        <p>Szyfr Cezara to szyfr polegający na podstawieniu każdej litery tekstu jawnego inną literą alfabetu
            o ustaloną przez użytkownika liczbę znaków.
            W Szyfrze Cezara nie rozróżnia się małych i dużych liter.
            W projekcie zostały uwzględnione polskie litery, może także obsługiwać negatywne przesunięcia.</p>
        <p>CezarModel zawiera pola: TekstPrzedSzyfrowaniem (tekst wejściowy),
            Przesuniecie (liczba przesunięć),
            TekstZaszyfrowany (wynik szyfrowania).</p>
        <p>CezarController:
            posiada metodę Index, która obsługuje wyświetlanie formularza i widoku.
            Funkcja Szyfrowanie przetwarza wszystkie litery.</p>
        <p>W formularzu znajduje się pole do wprowadzenia tekstu jawnego, wybór szyfrowania/deszyfrowania i wartość
            o jaką tekst ma być przesunięty.</p>
    </div>
</div>
